<div class="container mt-5">
    <h1>
      Users list below:
    </h1>
</div>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>

            {{#each user}}
                <tr>
                    <th scope="row">{{_id}}</th>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>