<div class="card">
    <div class="borde" style="width: 800px">
        <figure class="image">
            <img src={{ product.image }}>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <h1 class="title is-4">{{ product.name }}</h1>
                <h2 class="title is-4">{{ product.price }}<h2>
                <h2 class="title is-4">{{ product.description }}</h2>
                <button class="button is-danger">
                    <a href="https://mpago.la/2xo7kvX" target="_blank">Buy now!</a>
                </button>
            </div>
        </div>

    </div>
</div>