<div class="container mt-5">
    <h1>Product register</h1>
</div>
{{#if message}}   
    <div class="alert alert-success w-25">{{ message }}</div>    
{{/if}}
<div class="container mt-5">
    <form method="post" action="/product/formproduct">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description </label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3 text-center ">
            <button type="submit" class="btn btn-primary w-25">Register</button>
            <button type="reset" class="btn btn-danger w-25">Reload</button>
        </div>
    </form>
</div>
