<div class="container text-bg-danger text-center">
    <h1>Welcome to MVC app!</h1>
</div>
<button class="btn btn-success w-50 bg-body-secondary " onclick="saludo">Say hello world!</button>

<script>
    const saludo = () => {
        alert('Hello world!');
    };
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.btn-success').onclick = saludo;
    });
</script>