<div class="container text-bg-primary text-center">
    <h1>Welcome to MVC app!</h1>
</div>
<div class="container text-center">
<button class="btn btn-success w-50 " onclick="saludo">Say hello world!</button>
</div>
<script>
    const saludo = () => {
        alert('Hello world!');
    };
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.btn-success').onclick = saludo;
    });
</script>