<div class="container mt-5">
    <h1>
        Join now!!!
    </h1>
</div>
<div class="container mt-5">
    <form method="post" action="">
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 text-center ">
            <button type="submit" class="btn btn-success w-25">Register</button>
            <button type="reset" class="btn btn-danger w-25">Reload</button>
        </div>
    </form>
</div>